@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background: linear-gradient(0deg, rgba(29,156,229,1) 0%, rgba(125,200,237,1) 100%);
}

img.logo {
  width: 80%;
}

.mobile-text-only {
  display: none;
}

.navbar {
  padding-bottom: 0;
}

.navbar-brand {
  font-family: 'Courier Prime', monospace;
  font-size: 2em;
  padding-bottom: 0px;
}

.no4 {
  font-size: 1.75em;
  vertical-align: -6px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}

.container {
  margin-top: 80px;
}

#footer {
  flex: 0 0 50px;
  margin-top: auto;
  padding: 25px;
  background: linear-gradient(0deg, rgba(29,156,229,1) 0%, rgba(125,200,237,1) 100%);
  color: #fff;
}

.social-media i {
  color: #fff;
  font-size: 1.5em;
}

/* ************************************* home ************************************ */

.oisin-home { 
  width: 100%;
}

img.oisin {
  width: 80%;
  margin: auto;
}

/* ************************************* media queries ************************************ */

@media (max-width: 550px) {

  span.title-brand {
    display: none;
  }
  img.logo {
    width: 120%;
  }  
}

@media (max-width: 991px) {
  .mobile-text-only {
    display: block;
  }
}